


.hh11 {
    color: white;
    font-size: 64px;
    position: absolute;
    top: 40%;
    left: -10%;
    font-family: Goudy Old Style;
    font-weight: 600;
    font-size: 70px;
  }
  
  .hh12 {
    color: white;
    font-size: 64px;
    position: absolute;
    top: 40%;
    left: 30%;
  
    font-size: 70px;
    font-family: Goudy Old Style;
  }
  
  .hh13 {
    background-color: rgb(173, 52, 52); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 5px solid #f1f1f1;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  
  .hh20{
    
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 5px solid #f1f1f1;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  .hh14 {
    background-color: rgb(173, 52, 52); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 5px solid #f1f1f1;
    position: absolute;
    top: 46%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 5%;
    padding: 10px;
    text-align: left;
  }
  
  .hh19 {
    background-color: rgb(173, 52, 52); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 5px solid #f1f1f1;
    position: absolute;
    top: 67%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 6%;
    padding: 10px;
    text-align: left;
  }
  
  
  .hh15 {
    border-radius: 10%;
    font-size: 29px;
  
    position: absolute;
  
    top: 20%;
  
    right: 50%;
  
    font-weight: 510;
  
    font-family: Arial, Helvetica, sans-serif;
  
    border: none;
  }
  
  .hh16 {
    border-radius: 10%;
    font-size: 27px;
  
    position: absolute;
  
    top: 30%;
  
    right: 40%;
  
    font-weight: 510;
  
    font-family: Arial, Helvetica, sans-serif;
  
    border: none;
  }
  
  .hh17 {
    border-radius: 50%;
    font-size: 27px;
  
    position: absolute;
  
    top: 40%;
  
    right: 32%;
  
    font-weight: 510;
  
    font-family: Arial, Helvetica, sans-serif;
  
    border: none;
  }
  
  .hh18 {
    border-radius: 10%;
  
    font-size: 27px;
  
    position: absolute;
  
    top: 50%;
  
    right: 20%;
  
    font-weight: 510;
  
    font-family: Arial, Helvetica, sans-serif;
  
    border: none;
  }
  
  .hh15:hover {
    background-color: #0084b4;
  
    color: white;
  
    border-radius: 5px;
  
    padding: 5px 10px;
  
    transition: all 500ms cubic-bezier(0.68, -0.550, 0.265, 1.550);
  }
  
  .hh16:hover {
    background-color: #0084b4;
  
    color: white;
  
    border-radius: 5px;
  
    padding: 5px 10px;
  
    transition: all 500ms cubic-bezier(0.68, -0.550, 0.265, 1.550);
  }
  
  .hh17:hover {
    background-color: #0084b4;
  
    color: white;
  
    border-radius: 5px;
  
    padding: 5px 10px;
  
    transition: all 500ms cubic-bezier(0.68, -0.550, 0.265, 1.550);
  }
  
  .hh18:hover {
    background-color: #0084b4;
  
    color: white;
  
    border-radius: 25px;
  
    padding: 5px 10px;
  
    transition: all 500ms cubic-bezier(0.68, -0.550, 0.265, 1.550);
  }
  
  .home-img {
    position: absolute;
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }
  
  .logo {
    position: absolute;
  }